body{
    color: #E1A719;
    font-family: serif;
    margin: 0;
    background-color: black;
}

body p{
    font-size: 30px;
}

figure{
    margin:0;
}

@font-face {
    font-family: "alex";
    src: url("alex-brush/AlexBrush-Regular.ttf") format("truetype");
}

header{
    background-color: rgba(65, 52, 38, 0.767);
    width: 100%;
    height: 140px;
    position: fixed;
    z-index: 1;
}

header h1{
    font-family: alex;
    margin: 0;
    position: relative;
    top: 40px;
    left: 15px;
    font-size: 40px;
}

header img{
    height: 80px;
    width: 80px;
    position: relative;
    top: 20px;
    left: 10px;
    float: left;
}

#menu a{
    color: #E1A719;
    text-decoration: none;
    display: block;
}

#menuatual{
    text-transform: uppercase;
    color: rgba(16, 16, 216, 0.897);
}

#pag1 table{
    width: 1100px;
    position: relative;
    left: 50%;
    top: 100px;
    margin-left: -650px;
}

main img{
    border-radius: 20%;
    width: 300px;
    height: 340px;
}

main table{
    border-spacing: 100px;
    text-align: center;
    border-collapse: separate;
}

#menu{
    position: relative;
    margin-top: 7px;
}

.lista{
    width: 590px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    margin-top: 0;
    padding-left: 15px;
    list-style: none;
}

.lista a{
    text-decoration: none;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}

.lista li{
    position: relative;
    float: left;
}

.lista ul{    
    position: absolute; 
    top: 30px; 
    display: none;
}

.lista li:hover ul,
.lista li.over ul{
    display: block;
}

.lista li ul{
    padding: 0;
}

.lista li ul li{
    display: block;
    width: 250px;
}

#imagens{
    width: 500px;
    height: 600px;
    position: absolute;
    top: 150px;
    left: 0;
    transition: background-image 2s ease-in;
    background-image:url("imagem/transicao1.jpg");
}

#imagens:hover{
    background-image: url("imagem/transicao2.jpg");
}

#imagens2{
    width: 500px;
    height: 600px;
    position: relative;
    top: 150px;
    left: 50%;
    margin-left: -250px;;
    transition: background-image 2s ease-in;
    background-image:url("imagem/transicao3.jpg");
}

#imagens2:hover{
    background-image: url("imagem/transicao4.jpg");
}

#imagens3{
    width: 500px;
    height: 600px;
    position: absolute;
    top: 150px;
    right: 0;
    transition: background-image 2s ease-in;
    background-image:url("imagem/transicao5.jpg");
}

#imagens3:hover{
    background-image: url("imagem/transicao6.jpg");
}

#perfil{
    width: 300px;
    position: relative;
    top: 170px;
    left: 50%;
    margin: 0;
    margin-left: -150px;
}

#nome{
    width: 300px;
    text-align: center;
}

#sobre{
    width: 700px;
    position: relative;
    top: 200px;
    left: 50%;
    margin: 0;
    margin-left: -350px;
}

#sobre p{
    text-align: justify;
}

#texto{
    margin-bottom: 370px;
}

#contato img{
    width: 570px;
    height: 580px;
    border-radius: 0;
    position: relative;
    left: 15px;
    top: 200px;
}

#contato h1{
    width: 700px;
    position: relative;
    left: 50%;
    top: -250px;
    font-size: 50px;
}

#redes{
    width: 600px;
    position: relative;
    left: 50%;
    margin: 0;
    margin-left: -300px;
    text-align: center;
}

#redes img{
    width: 100px;
    height: 100px;
}

.tabela{
    width: 800px;
    position: relative;
    left: 50%;
    margin-left: -500px;
}

.tabela a{
    text-decoration: none;
    color: #E1A719;
}

#video{
    width: 700px;
    height: 700px;
    position: relative;
    left: 50%;
    top: 280px;
    margin: 0;
    margin-left: -350px;
    z-index: 0;
}

#escritor{
    position: absolute;
    right: 0;
}

.table{
    width: 1100px;
    position: relative;
    left: 50%;
    bottom: 50px;
    margin-left: -650px;    
}

#sliderDeFotos{
    position: relative;
    top: 250px;
}

.sliderGeral{
    width: 400px !important;
    height: 450px !important; 
    margin-left: 200px;
}

#sliderDeFotos p{
    text-align: left;
    margin: 0;
    margin-left: 225px;
    margin-bottom: 30px;
}

.mgTop{
    margin-top: 60px !important;
}

#slider1 p,
#slider3 p{
    margin-left: 205px;
}

#slider2,
#slider4,
#slider6,
#slider8{
    position:absolute;
    left: 50%;
    top: 0;
}

#slider4{
    position: absolute;
    top: 544px;
}

#slider4 p{
    margin-left: 195px;
}

#slider5 p{
    margin-left: 250px;
}

#slider6{
    position: absolute;
    top: 1148px;
}

#slider6 p{
    margin-left: 265px;
}

#slider7 p,
#slider8 p{
    margin-left: 280px;
}

#slider8{
    position: absolute;
    top: 1752px;
}

#retro{
    position: relative;
    top: 350px;
    text-align: center;
    z-index: 1;
}

button{
    width: 30px;
    height: 30px;
    position: relative;
    left: 360px;
}

footer{
    background-color: rgba(65, 52, 38, 0.767);
}

footer section{
    margin-top: 110px;
    height: 0;
}

#footerDown{
    margin-top: 300px;
}

footer img{
    width: 150px;
    height: 150px;
    position: relative;
    left: 10%;
    bottom: -20px;
}

footer h1{
    margin: 0;
    font-family: alex;
    font-size: 45px;
    position: relative;
    bottom: 70px;
    margin-left: 350px;
}

#footerContato{
    position: relative;
    bottom: 3px;
    margin-left: 900px;
}

#footerContato img{
    width: 70px;
    height: 70px;
}

#footerContato table{
    border-spacing: 50px;
}